
body{
    background-image: linear-gradient(to right top, #3336f1, #974646, #18c142, #f5a512, #650094); ;
}



.bd{

    border-radius: 100px;
    width: 200;
}
.div1{
  

    padding: 50;
}


.hall{

    border-radius: 100px;
    width: 200;
}






.desk{

    border-radius: 100px;
    width: 200;
}
.div3{
  

    padding: 50;
}


.table{

    border-radius: 100px;
    width: 200;
}




.kitchen{

    border-radius: 100px;
    width: 200;
}
.div5{
    padding: 50;
}




